In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('players_20.csv')

df.set_index('short_name', inplace=True)
df = df[["long_name", "age", "dob", "height_cm", "weight_kg", "nationality",	"club"]]
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [6]:
df['nationality'].sample(10, random_state=1)

short_name
D. Cvetinović            Serbia
M. Silva                Uruguay
S. Mandash         Saudi Arabia
I. Gruev               Bulgaria
Kangin Lee       Korea Republic
Marc Cardona              Spain
R. Nteka                 France
J. Mikel                Nigeria
He Chao                China PR
P. Ruffaut               France
Name: nationality, dtype: object

In [7]:
df.sample(frac=0.2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
G. Volpe,Giacomo Volpe,23,1996-01-16,189,80,Italy,US Cremonese
Éder Militão,Éder Gabriel Militão,21,1998-01-18,186,78,Brazil,Real Madrid
A. Perea,Andrés Perea,18,2000-11-14,185,76,Colombia,Atlético Nacional
T. Koch,Tobias Koch,18,2001-04-06,180,74,Austria,SK Sturm Graz
Son,Fco. Javier Hidalgo Gómez,25,1994-03-30,178,73,Spain,SD Ponferradina
...,...,...,...,...,...,...,...
D. Churlinov,Darko Churlinov,18,2000-07-11,180,71,FYR Macedonia,1. FC Köln
M. Lis,Mateusz Lis,22,1997-02-27,192,83,Poland,Wisła Kraków
K. Engel,Konstantin Engel,30,1988-07-27,179,79,Kazakhstan,VfL Osnabrück
A. Al Jebreen,Abdulaziz Al Jebreen,29,1990-04-19,179,73,Saudi Arabia,Al Nassr
M. Modolo,Marco Modolo,30,1989-03-23,186,82,Italy,Venezia FC

In [9]:
df.sample(frac=2, replace=True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
R. Kiernan,Robert Kiernan,28,1991-01-13,186,77,Republic of Ireland,Southend United
R. Özcan,Ramazan Özcan,35,1984-06-28,184,78,Austria,Bayer 04 Leverkusen
M. Caqueret,Maxence Caqueret,19,2000-02-15,174,63,France,Olympique Lyonnais
S. Patiño,Santiago Patiño,22,1997-03-10,185,82,United States,Orlando City SC
M. Terrazzino,Marco Terrazzino,28,1991-04-15,177,76,Germany,SC Freiburg
...,...,...,...,...,...,...,...
J. Glesnes,Jakob Glesnes,25,1994-03-25,188,84,Norway,Strømsgodset IF
K. Sadiki,Kosovar Sadiki,20,1998-08-27,193,70,Canada,Hibernian
J. Aguirre,Leonel Jonás Aguirre Avalo,27,1992-03-05,175,69,Argentina,Rosario Central
Zhao Yingjie,赵英杰,26,1992-08-02,183,77,China PR,Tianjin TEDA FC
S. Giovinco,Sebastian Giovinco,32,1987-01-26,163,61,Italy,Al Hilal